<div class="jumbotron">
    <h1 class="display-4">MENTE PRA GENTE!</h1>
    <p class="lead">Bem vindes ao blog! Temos fatos interessantes sobre o mundo mental e quebra de muitos paradígmas que
        a sociedade impõe sobre o que se passa na cabeça das pessoas</p>
    <hr class="my-4">
    <p>Quer saber mais, navegue pelo site e encontre assuntos que nunca parou para pensar antes.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
</div>
<!-- cards -->
<div class="container-fluid">
    <div class="row">
        <div class="card-group">
            <div class="card">
                <iframe width="75%" height="50%" src="https://www.youtube.com/embed/z-IR48Mb3W0" frameborder="5"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Depressão</h5>
                    <p class="card-text">A depressão é um transtorno mental que dura por, no mínimo, duas semanas seguidas, e interfere significamente na capacidade de trabalho, de se divertir e de amar</p>
                </div>
            </div>
            <div class="card">
                <iframe width="75%" height="50%" src="https://www.youtube.com/embed/j5Sl8LyI7k8" frameborder="5"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Insônia</h5>
                    <p class="card-text"><p>Quando os ciclos de estresse e agitação duram muitos meses, são diagnosticados como insônia crônica. E embora a insônia raramente leve à morte, os mecanismos químicos são parecidos com os ataques de ansiedade encontrados em pessoas que sofrem de depressão e ansiedade.</p>
                </div>
            </div>
            <div class="card">
                <iframe width="75%" height="50%" src="https://www.youtube.com/embed/IzFObkVRSV0" frameborder="5"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <div class="card-body">
                    <h5 class="card-title">Ataques de pânico</h5>
                    <p class="card-text">Embora ataques de pânico não causem danos físicos a longo prazo, posteriormente, o medo de outro ataque pode limitar o dia a dia de uma pessoa e causar mais ataques de pânico.</p>
                </div>
            </div>
        </div>
    </div>
</div>